# 데이터구조 - 리스트
* 데이터 구조 ?
    = 연관 있는 데이터를 컴퓨터로 효율적으로 다루는 방법
- 리스트 선언
    * 리스트 변수이름 = [] -> 공백으로 만들어 집니다.
    * 리스트 변수이름 = list() -> 공백으로 만들어집니다.
    * 리스트 변수이름 = [데이터1, 데이터2, ...]
- 리스트 내용 추가
    * 리스트 변수이름.append(데이터)
    * 리스트 변수이름.insert(넣고 싶은 인덱스 번호, 데이터)
- 리스트 내용 삭제
    * del 리스트변수이름[인덱스번호]
    * 리스트변수이름.remove("데이터")
- 리스트 내용 수정
    * 리스트변수이름[인덱스] = "수정할 데이터"

In [3]:
loc = ['봉선동', '주월동', '황금동']

In [4]:
print(loc)

['봉선동', '주월동', '황금동']

In [5]:
loc.append('치평동')

In [6]:
print(loc)

['봉선동', '주월동', '황금동', '치평동']

In [7]:
loc.insert(1, "양동")

In [8]:
print(loc)

['봉선동', '양동', '주월동', '황금동', '치평동']

In [10]:
del loc[1]
loc.remove("치평동")
print(loc)

['봉선동', '주월동', '황금동']

In [11]:
loc.append("치펴동")

In [14]:
loc[3] = "치평동"
print(loc)

['봉선동', '주월동', '황금동', '치평동']

In [15]:
# slicing 기능
# 리스트 내부의 필요한 부분만 출력해줄수 있습니다.
# 변수이름[시작할 인덱스 번호 : 출력할 인덱스 번호 + 1]
loc[0:2]

['봉선동', '주월동']

In [16]:
loc[2:3]

['황금동']

In [17]:
loc[:3]

['봉선동', '주월동', '황금동']

In [18]:
loc[:-1]

['봉선동', '주월동', '황금동']

In [19]:
loc.insert(0, "첨단2동")
loc.append("금호동")
loc.append("상동")

In [20]:
loc

['첨단2동', '봉선동', '주월동', '황금동', '치평동', '금호동', '상동']

In [22]:
# 리스트를 정렬하는 법
# 변수이름.sort()
loc.sort()
loc

['금호동', '봉선동', '상동', '주월동', '첨단2동', '치평동', '황금동']

In [23]:
# 역정렬 방법
loc.reverse()
print(loc)

['황금동', '치평동', '첨단2동', '주월동', '상동', '봉선동', '금호동']

In [24]:
ron = "Shut up, Malfoy"

In [26]:
ron_list = ["Shut", "up", ",", "Malfoy"]

In [27]:
ron_list

['Shut', 'up', ',', 'Malfoy']

In [30]:
ron.split() # 어떤 자료형을 리스트화 시켜줍니다.
# split("어떤 단어, 데이터를 넣을 경우 그 데이터를 기준으로 나누어줍니다.")

['Shut', 'up,', 'Malfoy']

In [33]:
private_number = "900212-2456789"
private_number.split()

['900212-2456789']

In [38]:
pri_N = private_number.split('-')

In [39]:
print(pri_N)

['900212', '2456789']

In [1]:
dotdot = '123.45678.203.127502.39853'

# 데이터 구조 - Tuple
* 선언 : 튜플이름 = (1,2,3,4)
* 읽기 : 튜플이름[인덱스번호]
* 추가 : x
* 삭제 : x
* 수정 : x

In [2]:
data = (1,2,3,4)

In [3]:
print(data)

(1, 2, 3, 4)

In [4]:
# 슬라이싱 기능 사용 가능
data[0:3]

(1, 2, 3)

In [5]:
# 튜플끼리 연산 가능
data2 = (4,5,6,7)
result = data + data2
print(result)

(1, 2, 3, 4, 4, 5, 6, 7)

In [6]:
data * 2

(1, 2, 3, 4, 1, 2, 3, 4)

In [7]:
x = 1
y = 2

In [8]:
print(x, y)

1 2

In [9]:
temp = x
x = y
y = temp

In [10]:
print(x, y)

2 1

In [11]:
#파이썬에는 튜플형태로 반환을 해서 두개 값을 바꿔줄수 있습니다.
x = 1
y= 2
x, y = y, x

In [12]:
print(x, y)

2 1

In [18]:
# 튜플의 값을 바꿔주고 싶을때 리스트형태로 변환 -> 리스트 값을 수정 -> 튜플 변환
data1 = (1,2,3)
print(type(data1))
data_list = list(data1)
print(type(data_list))
data_list.append(4)
print(data_list)
data1= tuple(data_list)
print(data1)

<class 'tuple'>
<class 'list'>
[1, 2, 3, 4]
(1, 2, 3, 4)

# 데이터 구조 - 딕셔너리(사전)
* 선언 : 변수이름 = {}, dict(), 초기값과 함께 선언 = 변수이름 = {키값 : 밸류값}
* 읽기 : 변수이름[키값]
* 추가 : 변수이름[새로운키값] = 새로운 밸류값
* 삭제 : del 변수이름[키값]
* 수정 : 변수이름[수정할키값] = 수정할 밸류값
    - 딕셔너리는 키값을 수정할 수 없습니다.
    - 키값을 수정하고 싶을 경우 키값을 삭제하고 새로 추가하는게 더 빠릅니다.

In [19]:
data_dict = {}
print(data_dict)

{}

In [20]:
data_dict = dict()
print(data_dict)

{}

In [23]:
data_dict = {"박진혁": 30, "홍길동" : 20, "파이썬" : 18}
print(data_dict)

{'박진혁': 30, '홍길동': 20, '파이썬': 18}

In [26]:
data_dict["파이썬"]

18

In [27]:
data_dict["냉장고"] = 3

In [28]:
data_dict

{'박진혁': 30, '홍길동': 20, '파이썬': 18, '냉장고': 3}

In [29]:
del data_dict["파이썬"]

In [30]:
data_dict

{'박진혁': 30, '홍길동': 20, '냉장고': 3}

In [31]:
data_dict["홍길동"] = "임꺽정"

In [32]:
data_dict

{'박진혁': 30, '홍길동': '임꺽정', '냉장고': 3}

In [34]:
data_dict.values()

dict_values([30, '임꺽정', 3])

In [35]:
data_dict.keys()

dict_keys(['박진혁', '홍길동', '냉장고'])

In [41]:
#items() -> 딕셔너리 내부의 키값과 밸류값을 묶어서 반환(출력)합니다
data_dict.items()

dict_items([('박진혁', 30), ('홍길동', '임꺽정'), ('냉장고', 3)])

# 데이터 구조 - 집합(set)
- 수학 집합연산을 쉽게 하기 위한 자료형
- 순서 없음
- 중복 없어
    * 선언 + 정의 : 변수이름 = set(), 변수이름 = {데이터1, 데이터2}, 변수명 = ('데이터'), 변수명 = set({데이터, 데이터2})
    * 읽기, 추가, 삭제, 수정 = 불가능

In [42]:
data_set = set()
type(data_set)

set

In [43]:
data_set = {"SBS", "MBC", "KBS"}
type(data_set)

set

In [46]:
data_set = set("MBC")
type(data_set)

set

In [47]:
data_set = set({"KBS", "SBS", "JTBC"})
type(data_set)

set

In [50]:
#data_set[0]
print(data_set)

{'KBS', 'SBS', 'JTBC'}

In [51]:
data1 = {'apple', 'samsung', 'lg'} # 스마트폰 생산 회사
data2 = {'samsung', 'lg', 'xiaomi'} # 가전제품 생산 회사

In [52]:
# 스마트폰과 가전제품 둘다 생산업체(교집합)
data1 & data2

{'lg', 'samsung'}

In [53]:
# 스마트폰 또는 가전제품을 생산하는 업체(합집합)
data1 | data2

{'apple', 'lg', 'samsung', 'xiaomi'}

In [54]:
# 스마트폰만 생산하는 업체(차집합)
data1 - data2

{'apple'}

In [55]:
# 스마트폰만, 가전제품만 생산하는 업체()
data1 ^ data2

{'apple', 'xiaomi'}

In [56]:
# set은 여러 가지 같은 이름의 정보가 있다면 중복을 제거 합니다.
data_list = ['apple', 'samsung', 'lg','apple', 'samsung', 'lg','apple', 'samsung', 'lg']

In [57]:
data_list

['apple', 'samsung', 'lg', 'apple', 'samsung', 'lg', 'apple', 'samsung', 'lg']

In [58]:
data = set(data_list)
data

{'apple', 'lg', 'samsung'}

In [59]:
data_list = list(data)

In [60]:
data_list

['samsung', 'lg', 'apple']